.root {
    -fx-background-color: #062B16; /* Couleur de fond sombre pour le jeu/menu */
    -fx-font-family: "Press Start 2P Regular"; /* Police par défaut */
}


/* Styles pour les labels des joueurs */
.player-label {
    -fx-font-size: 8px;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Press Start 2P Regular";
}

.controls {
    -fx-font-size: 12px;
    -fx-text-fill: #AAAAAA;
    -fx-alignment: CENTER_LEFT;
    -fx-font-family: "Press Start 2P Regular";
}

/* Styles pour les boutons du menu */
Button {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
    -fx-padding: 10px 10px;
    -fx-cursor: hand;
    -fx-font-family: "Press Start 2P Regular";
}

Button:hover {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.start-button{
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 25px;
    -fx-padding: 10px 10px;
    -fx-cursor: hand;
    -fx-font-family: "Press Start 2P Regular";
}

.start-button:hover {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.menu {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-padding: 20;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.title {
    -fx-font-size: 30;
    -fx-text-fill: white;
}

.vainqueur {
    fx-font-size: 20;
    -fx-text-fill: white;
}

.commandeTitle{
    -fx-font-size: 12;
    -fx-text-fill: #AAAAAA;

}

.commande{
    -fx-font-size: 10;
    -fx-text-fill: #AAAAAA;
}